      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I am a full-time student at Seneca College taking Computer Programming & Analysis. </p>
          <p>For the past year, I have devoted all of my free time studying programming and I enjoy it immensely, just as I always enjoyed playing chess, solving logical puzzles, sudoku, Rubik's cube etc.</p> 
          <p>My programming journey started with Harvard's CS50 course and 1 year later I found myself in the midst of term 3 of Computer Programming/Analysis with 4.0 GPA. Due to my extensive work experience in private business, I'm able to convert the purpose of the programs I write clearly to their practical application. </p>
          <p>I am currently studying Advanced Database Services, Advanced Object-Oriented Software Development using C++, Web Programming Tools and Frameworks, Analysis and Design using OO models and Data Communications.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <p>Stay tuned for future updates...</p>
        </aside>
      </div>