      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <br>
          <p>I am a full-time student at Seneca College taking Computer Programming & Analysis. </p>
          <p>This web app has been created as a final project of WEB322 course.</p> 
          <p>Below is a list of successfully met objectives: </p>
          <ul>
            <li>Create and publish a web app that uses multiple routes which serve static files (HTML & CSS) as well as create a "blog service" module for accessing data</li>
            <li>Incorporate the Handlebars view engine to render JSON data visually in the browser using .hbs views and layouts</li>
            <li>Work with a Postgres data source on the server and practice refactoring an application</li>
            <li>Work with Client Sessions and data persistence using MongoDB to add user registration and Login/Logout functionality& tracking (logging)</li>
            <li>Update the password storage logic to include "hashed" passwords (using bcrypt.js)</li>
          </ul>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming soon</h2>
          <br>
          <p>Stay tuned for future updates...</p>
        </aside>
      </div>