<div class="row">
    <div class="col-md-12">
        <h2>Log In</h2>
        <hr />
  {{#if errorMessage}} 
    <div class="alert alert-danger" role="alert">
      <strong>Error: </strong>
      {{errorMessage}}
    </div>
  {{/if}}
  <form method="post" action="/login">
    <div class="mb-1 row">
         <div class="col-md-12 mb-3">
             <div class="form-group">
                 <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value={{#if user.userName}}{{user.userName}}{{/if}}""
                   />
             </div>
         </div>
    </div>
    <div class="mb-3 row">
         <div class="col-md-12">
            <div class="form-group">
                 <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
            </div>
         </div>
    </div>
    <input type="submit" class="btn btn-primary float-end" value="Login" />
  </form>
 </div>
</div>